.mainContainer {
    height: 95vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#282828;
}

.chartContainer {
    height: 80vh;
    width: 75vw;
    background-color: #202020;
    display: flex;
    justify-content: space-evenly;
    border: 2px purple solid;
}

.eachBar {
    height: 50vh;
    width: 1vw;
    background-color: #202020;
    border: 1px purple solid;
}

.hide {
    display: none;
  }
  
.eachBar:hover + .hide {
    display: block;
    color: red;
}

.popupCardData {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* .popup {
    height: 50px;
    width: 1vw;
    background-color: red;
    /* display: none; */
/* }  */
.filterButton {
    font-size: 5vh;
    color: white;
    background-color: #202020;
}
.filterButton:hover {
    color: green;
  }