.mainContainer {
    height: 95vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chartContainer {
    height: 80vh;
    width: 75vw;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.eachBar {
    height: 50vh;
    width: 1vw;
    background-color: lightblue;
}

.hide {
    display: none;
  }
  
.eachBar:hover + .hide {
    display: block;
    color: red;
}